@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

#tableBody td {
    vertical-align: middle !important;
    line-height: 1.5; /* Hoặc một con số cụ thể để đồng bộ text */
}

#tableBody td input[type="checkbox"].row-cb {
    vertical-align: middle;
    margin: 0; /* Khử margin mặc định của trình duyệt gây lệch ô */
}

/* Đảm bảo các badge cũng được căn chỉnh tương tự */
#tableBody td .items-badge,
#tableBody td .type-badge {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.details-grid-table {
    width: 100%;
    border-collapse: collapse;
}

.details-grid-table tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-grid-table .info-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.details-grid-table .info-row div {
    vertical-align: middle;
}

.details-grid-table .info-row div:last-child {
    text-align: right; /* Thêm đường viền giữa 2 cột */
}

.details-grid-table div {
    display: table-cell !important;
    padding: 8px 0 !important; /* Điều chỉnh padding để căn chỉnh tốt hơn */
    vertical-align: top;
    width: 50%; /* Vì cấu trúc render JS của bạn là chia đôi (2 cột) */
}